/**{width: 1260px; display: inline-block; vertical-align: }

/*.container{
	width: 1200px;
}*/
.qwer:first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: black; /* Красный цвет текста */
}
.big{
	font-size: 150%;
}